instances/web-directories/source/      # 
instances/web-directories/automatic/   #
                                       #
instances/sparql-listings/source/      #
instances/sparql-listings/automatic/   #
                                       #
instances/documents/automatic/         #
instances/documents/source/            #
.DS_Store
